.home{
    display: flex;
    gap: 370px;
    margin-top: 110px;
    margin-left: 130px;
}

.img img{
    width: 400px;
height: 400px;
border-radius: 15px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}


.home-info {
    margin-top: -15px;
}
.home-info h1{
    color: #121212;
font-family: Raleway;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 54px; /* 122.727% */
letter-spacing: -1.35px;
}

.home-info span{
    color: #121212;
font-family: Raleway;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 54px; /* 122.727% */
letter-spacing: -1.35px;
text-decoration: underline;
text-decoration-color:#5F2DED ;


}

.home-info h2{
    margin: -58px 0px 3px 56px;
    font-weight: 600;
}

.home-info b{
    font-weight: bolder;
}
.home-info p{
    width: 462px;
    height: 78px;
    margin-top: 32px;
    color: #121212;
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}

.tick-mark{
    width:30px;
    height:30px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.tick-mark-div{
    display: flex;
    
    
}
.tick-mark-div span{
    font-size: 18px;
    margin-top: -3px ;
    font-weight: 500;
    cursor: pointer;
   
}